### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# PyCharm
.idea/

# Environment variables
.env

# Virtual Environment (if you don't use pipenv)
venv/

# Helper scripts
helper_scripts/

# Precomputed distances and neighborhoods
data/distances.csv
data/neighborhood.csv
data/backup/

# Evaluation data
evaluation/data/
evaluation/plots/
