{% extends 'registration/base.html' %}

{% block title %}Goodbye{% endblock %}

{% block body %}
    <div class="login-cover">
        <section class="hero is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-6">
                            <div class="columns is-multiline box">
                                <div class="column is-12">
                                    <h1 class="title is-size-2">
                                        Goodbye!
                                    </h1>
                                </div>
                                <div class="column is-12">
                                    <p class="is-size-4">We're sorry to see you go. Your account has successfully been
                                        deleted. Feel free to
                                        register again whenever you want to enjoy our personality-based movie
                                        recommendations again.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}