{% extends 'registration/base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <div class="box">
            {% if validlink %}
                <h3 class="title has-text-dark">Change password</h3>
                <p class="subtitle has-text-dark">Please enter your new password</p>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'form_template.html' %}
                    <div class="field">
                        <div class="control">
                            <button type="submit"
                                    class="button is-block is-primary is-large is-fullwidth">Change password
                            </button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p class="has-text-dark is-size-5">
                    This link is invalid. It probably has already been used, please request a new one.
                </p>
                <br>
                <a href="{% url 'password_reset' %}" class="button is-block is-primary is-large is-fullwidth">
                    Request Link
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}