<div class="columns is-multiline is-vcentered">
    <div class="column is-12">
        <p class="title is-4 mb-5">
            Rate Movie
        </p>
        <div class="block pt-4">
            <div class="rating-stars">
                <span class="icon is-medium has-text-warning">
                    <i class="far fa-2x fa-star"></i>
                    <i class="fas fa-2x fa-star-half-alt is-hidden"></i>
                    <i class="fas fa-2x fa-star is-hidden"></i>
                </span>
                <span class="icon is-medium has-text-warning">
                    <i class="far fa-2x fa-star"></i>
                    <i class="fas fa-2x fa-star-half-alt is-hidden"></i>
                    <i class="fas fa-2x fa-star is-hidden"></i>
                </span>
                <span class="icon is-medium has-text-warning">
                    <i class="far fa-2x fa-star"></i>
                    <i class="fas fa-2x fa-star-half-alt is-hidden"></i>
                    <i class="fas fa-2x fa-star is-hidden"></i>
                </span>
                <span class="icon is-medium has-text-warning">
                    <i class="far fa-2x fa-star"></i>
                    <i class="fas fa-2x fa-star-half-alt is-hidden"></i>
                    <i class="fas fa-2x fa-star is-hidden"></i>
                </span>
                <span class="icon is-medium has-text-warning">
                    <i class="far fa-2x fa-star"></i>
                    <i class="fas fa-2x fa-star-half-alt is-hidden"></i>
                    <i class="fas fa-2x fa-star is-hidden"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="column is-12 has-text-centered">
        <div id="rating-feedback" class="notification is-light is-invisible">
            <p class="is-size-7"></p>
        </div>
    </div>
</div>